<html>
  <head>
      <title>Edit Review</title>
    <style>
      h1 {
        margin-top: 50px;
        margin-left : 10px;
        font-family: Garamond, serif;

      }
      p {
        font-size: 24px;
        font-family: Garamond, serif;
        margin-left: 20px;
      }
      body {
      font-family: Garamond, serif;
      background-color : #FDF7EF;
      text-align: center;
      } 
      ul {
        text-align: center;
      }


    </style>
  </head>
  <body>
      <h1>Edit a Review</h1>
      
      <a href="{{ url_for('index') }}">Or return to homepage</a>
      {% if step == "display_entries" %}
          {% if entries|length > 0 %}
              <table border="1">
                  <tr>
                      <th>Reviewer Email</th>
                      <th>Foodbank</th>
                      <th>Number of Stars</th>
                      
                  </tr>
                  {% for entry in entries %}
                      <tr>
                          <td>{{ entry[0] }}</td>
                          <td>{{ entry[1] }}</td>
                          <td>{{ entry[2] }}</td>
                      </tr>
                  {% endfor %}
              </table>
              <form action="{{ url_for('editreviews') }}" method="post">
                  <input type="hidden" name="step" value="make_edits">
                  <input type="submit" value="Edit">
              </form>
          {% else %}
              <p>There are no entries.</p>
              <p><a href="{{ url_for('index') }}">Back to homepage</a></p>
          {% endif %}
      {% elif step == "make_edits" %}
          Edit your entry:
          <form action="{{ url_for('editreviews') }}" method="post">
          Title: <input type="text" size="30" name="title" value="{{entry.title}}"><br>
          Text: <textarea name="content" rows="5" cols="40">{{entry.content}}</textarea><br>
          <input type="hidden" name="step" value="update_database">
          <input type="hidden" name="postid" value="{{entry.id}}">
          <input type="submit">
          </form>
      {% elif step == "update_database" %}
          Thanks for making your changes!
          <p>
          <a href="{{ url_for('index') }}">Back to homepage</a>
    {% endif %}
  </body>
</html>
