<html>
  <head>
    <title>Browse Reviews</title>
    <style>
      h1 {
        margin-top: 50px;
        margin-left : 10px;
        font-family: Garamond, serif;

      }
      p {
        font-size: 24px;
        font-family: Garamond, serif;
        margin-left: 20px;
      }
      body {
      font-family: Garamond, serif;
      background-color : #FDF7EF;
      text-align: center;
      } 
      ul {
        text-align: center;
      }


    </style>
  </head>
  <body>
    <h1>Browse Reviews</h1>
    {% if entries %}
        <ul>
        {% for entry in entries %}
            <li><b>{{ entry[0] }}</b> ({{ entry[1] }})
            <p>
            {{ entry[2] }}
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        There are no reviews in the database
    {% endif %}
    <a href="{{ url_for('index') }}">Back to homepage</a>
  </body>
</html>